<h2>About</h2>
<p>Longify is a <strong>Uniform Resource Identifier elaboration service</strong>. Use it to make links <strong>more cumbersome than ever before</strong>!</p>
<p>Newly longified links get <strong>longer and longer</strong> as the service is utilised. In other words - the more you use it, <strong>the better it gets</strong>!</p>
<p>Longify was inspired by this wondrous creation:</p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/Z86V_ICUCD4"></iframe>
