h1 About

markdown:
  Longify is a **Uniform Resource Identifier elaboration service**. Use it to make links **more cumbersome than ever before**!
  
  Newly longified links get **longer and longer** as the service is utilised. In other words - the more you use it, **the better it gets**!
  
  Longify was inspired by this wondrous creation:

iframe width="420" height="315" src="http://www.youtube.com/embed/Z86V_ICUCD4"
