/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "http://fonts.googleapis.com/css?family=Glegoo";

body {
  background-color: #FFFFFA;
  color: #333;
  font-family: "Glegoo", serif;
  text-align: center;
}

body > header h1 em {
  color: #AAA;
  font-style: inherit;
}

footer p {
  font-size: 80%;
}

.field_with_errors {
  display: inline;
}

.error {
  color: red;
}

a {
  color: #39F;
}

a:hover {
  color: #6CF;
}

input, select {
  border: solid 1px #CCC;
  padding: 10px;
  margin: 4px;
  font-size: inherit;
  font-family: inherit;
}

input[type=submit] {
  background-color: #EEE;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}

table {
  margin: 0 auto;
  border-spacing: 10px;
}

table.details th {
  width: 50%;
  text-align: right;
}

table.details td {
  width: 50%;
  text-align: left;
}
