body.links {
  table {
    margin: 0 auto;
    border-spacing: 10px;
  }

  table.details th {
    width: 50%;
    text-align: right;
  }

  table.details td {
    width: 50%;
    text-align: left;
  }
}